---
Language: Cpp
BasedOnStyle: LLVM

# --- 核心缩进与排版 (xv6 风格) ---
IndentWidth: 2
TabWidth: 8
UseTab: Never              # 严格使用空格
AlwaysBreakAfterReturnType: TopLevelDefinitions # 函数返回类型独占一行
AllowShortFunctionsOnASingleLine: None    # 防止短函数被强行压缩到一行
BreakBeforeBraces: Linux   # K&R 风格 (函数 { 换行，if { 不换行)
SpaceBeforeParens: Never   # if(x) 而不是 if (x)
PointerAlignment: Right     # char *p
ColumnLimit: 80            # 80 列宽限制
SortIncludes: false        # 禁止重排头文件

AlignConsecutiveDeclarations: true # 对齐变量声明和函数定义 (如 defs.h)
AlignConsecutiveMacros: true # 对齐宏定义 (如 uart.c 中的 #define)
AlignConsecutiveAssignments: true # 对齐赋值语句 (如 int a = 1; int b = 2;)
AlignTrailingComments: true # 对齐行尾注释 (让 // 都在同一列)
AlignEscapedNewlines: Left  # 对齐反斜杠 (用于多行宏定义)
---
