If:
    PathMatch: .*\.h

Diagnostics:
    Suppress: 
        - "unknown-typename"
        - "undeclared_var_use"
        - "undeclared_var_use"
        - "implicit-int"

Index:
  Background: Build     # 强制后台自动构建索引
